.modal-overlay {
    position: fixed;
    top: 100px;
    left: 360px;
    z-index: 10;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f9;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
  }
  #txt{
    color: black;
  }